.menu-section {
    margin: 0 0 35px 0;

    &__title {
    width: 40px;
    padding: 7px 0;
    margin-bottom: 14px;
    font-size: 15px;
    white-space: nowrap;
    border-bottom: 3px solid $tertiary;    
    }
    &__card {
        margin-bottom: 14px;
    }
}