.index {

    h2 {
        font-size: 24px;
        margin-bottom: 34px;
    }

}
.hook {
    padding: 40px 0 55px 0;
    background-color: $fifth;
    text-align: center;

    h1 {
        margin-bottom: 12px;
        font-size: 24px;
        padding: 0 30px;
        line-height: 28px;
    }
    p {
        line-height: 22px;
        font-size: 18px;
        margin-bottom: 30px;
    }
}

.function {
    padding: 55px 0;

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 12px;
        width: 100%;
    }

    &__list-item {
        margin: 0 0 24px 0;;
    }
}

.restaurant {
    background-color: $fifth;
    padding: 55px 0;

    &__cards-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__card {
        margin: 0 0 18px 0;
        }
    
}
