.menu-restaurant {
    position: relative;
    padding-top: 203px;

    &__img {
        position: absolute;
        top: 0;
        z-index: -1;
        height: 255px;
        width: 100%;
        object-fit: cover;
    }
    &__content {
        padding: 38px 20px;
        border-radius: 40px 40px 0 0;
        background-color: $fifth;
    }
    &__header {
        display: flex;
        align-items: center;
        margin: 0 5px 31px 5px;
    }
    &__title {
        @include typography('Shrikhand');
        font-size: 28px;
    }
    &__like {
        margin: 0 0 0 auto;
    }
    &__footer {
        display: flex;
        justify-content:center;
        margin: 50px 0;
    }
}