.footer {
    padding: 35px 0 56px;
    min-height: 197px;
    background-color: $fourth;
    color: white;

    &__logo {
        width: 99px;
        display: block;
        font-size: 18px;
        margin: 0 0 31px 0;
    }

    &__list-item {
        padding: 0 0 10px 0;

        &--icon i {
            display: inline-block;
            font-size: 12px;
            width: 17px;
        }
    }
}