.heart-btn {
    padding: 0;
    margin: 0;
    position: relative;
    font-size: 23px;
    background: none;
    cursor: pointer;
    &:focus {
        .heart-fill {
            font-weight: bold;
            background: linear-gradient(350deg, $secondary  0%, $primary 100%);

            -webkit-background-clip: text;
            color: transparent;
            animation: heart 0.5s linear forwards;
        }
        .heart-empty {
            animation: end 1s ease-in forwards;
        }
    }
}
.heart-empty {
    position: relative;
    left: 56%;
}

