.main-btn {
    display: inline-block;
    min-width: 186px;
    padding: 17px 22px;
    height: 100%;
    border-radius: 100px;
    @include robotoTypo('Medium');
    background: linear-gradient(350deg, $primary 0%, $secondary 100%);
    box-shadow: 0 3px 10px -3px rgb(0, 0, 0 / 40%);
    color: white;
    text-align: center;   
}